<link rel="stylesheet" href="styles/main.css">
<h1>hi</h1>
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <a href="name" style="background-color: cadetblue; text-decoration: none; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: 700; padding: 10px; color: azure;">RP-Name</a>
</div>